@import url('https://fonts.googleapis.com/css2?family=Spectral&display=swap');


.App {
    border-radius: 1rem;
    max-width: 90%;
    margin: 20rem auto;
    padding: 1rem;
    background-color: #fff;
    position: relative;
}

h1 {
    padding: 0 1rem;
}

.table {
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
}

.thead {
    color:rgba(154, 154, 154, 0.738);
}

.tr {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* justify-content: space-around; */
}

.tbody > .tr > .td {
    padding: 1rem;
    font-weight: bold;
}

.tbody > .tr > .td:first-child {
    text-align: left;
}


.golden-stock {
    color: #FFD700;
}

.navigation {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

.dollar-sign {
    background-image: linear-gradient(60deg, #FFD700, #747474);
    background-clip: text;
    color: transparent;
    margin-right: .3rem;
    font-size: 1.2rem;
}

.navigation > button {
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: 1.7px solid rgba(173, 173, 173, 0.738);
    font-weight: 550;
    background-color: #fff !important;
    cursor: pointer;
}

.navigation button:hover {
    background-image: linear-gradient(120deg, #FFD700, #FFD700, #ddd7ac);
    background-color: #FFD700;
}

.active {
    background-image: linear-gradient(120deg, #FFD700, #FFD700, #ddd7ac);;
}

.symbol, .company.name {
    font-family: 'Spectral', serif;
}

.negative {
    color: red;
}


.positive {
    color: green;
}